
body { font-family: Arial; background:#f4f6f8; }
.bisae-menu ul { display:flex; gap:1rem; list-style:none; }
.bisae-carousel img { width:100%; margin-bottom:10px; }
.bisae-lista { background:#fff; padding:1rem; }
.bisae-tf { margin-top:2rem; }
